.container-fluid {
    background-color: #630E2D;
}
.logo {
    width: 80px;
    height: 80px;
}
.nav {
    margin-right: 50px;
    padding: 15px 0;
    font-size: 1.5em;
}
.navbar-default .navbar-nav>li>a {
    color: white;
    width: 180px;
}
.navbar-default .navbar-nav>li:hover {
    color: #630E2d;
    background-color: white;
    border-radius: 8px;
}
.presentation {
    background-color: #630E2D;
    color: white;
    padding: 0 40px;
    text-align: justify;
}
.presentation h2 {
    text-align: center;
    margin-bottom: 20px;
}
.pdtphare {
    text-align: center;
    border: 1px solid black;
}
.pdtphare img{
    float: left;
}
.pdt {
    height: 250px;
    border: 1px solid black;
}
.row {
    text-align: center;
}
.contact {
    border: 1px solid black;
}
.nom-mail {
    margin: 10px 0;
}
.msg {
    display: inline-block;
}
.btn-contact {
    display: block;
}
