.note {
   color: #aaa;
   text-decoration: none;
   transition: color .4s;
   font-size: 1em;
}
.arianne{
  color: grey;
}
.no-padding{
  padding-left: 0;
  padding-right: 0;
}
.breadcrumb{
  margin: 0;
}
.note:hover,
.note:focus,
.note:hover ~ a,
.note:focus ~ a {
   color: orange;
   cursor: pointer;
}

.border-article {
	margin: 1em 0;
	-moz-box-shadow: 1px 1px 5px 0px #7F123A;
	-webkit-box-shadow: 1px 1px 5px 0px #7F123A;
	-o-box-shadow: 1px 1px 5px 0px #7F123A;
	box-shadow: 1px 1px 5px 0px #7F123A;
	filter:progid:DXImageTransform.Microsoft.Shadow(color=#7F123A, Direction=134, Strength=10);
	width: 22.5%;
}

.border-filtre {
	-moz-box-shadow: 1px 1px 5px 0px #7F123A;
	-webkit-box-shadow: 1px 1px 5px 0px #7F123A;
	-o-box-shadow: 1px 1px 5px 0px #7F123A;
	box-shadow: 1px 1px 5px 0px #7F123A;
	filter:progid:DXImageTransform.Microsoft.Shadow(color=#7F123A, Direction=134, Strength=10);
	margin: 1em 0;
	padding: 0.25em 0.5em;
}

#nav-filtre {
	list-style: none;
	margin: 1em 0;
}

#nav-filtre li {
	margin: 0.5em auto;
}

h4 {
	font-family: "Tangerine";
	font-size: 3em;
}

.reglage-survol a {
	color: #3C403E;
}

.reglage-survol a:hover {
	text-decoration: none;
}

.margin-filtre {
	padding: 0;
}

.nav-fixe {
	position: fixed;
}

.liste-article {
	list-style-type: none;
}

.liste-article li {
	display: inline-block;
	margin: 1em 0.5em;
}

.liste-article p {
	font-size: 0.8em;
}

.liste-article h4 {
	font-size: 2.4em;
}

.redim-image{
	width: 70px;
	height: 280px;
}
.fleche{
    position: fixed;
    right: 3px;
    bottom: 10px;
    font-size: 3em;
    color: #d3d3d3;
}
.fleche:hover{
  color: #630E2D;
}
.fleche a: {
  color: #d3d3d3 !important;
}
footer{
  text-align: center;
  padding: 2em;
  font-weight: bold;
  background-color: #d3d3d3;
}
